---
---

//$theme: lighten(#34495e, 15%);
$theme: #d0d0d0; // de da da da
$accent: #3070a0;
$foreground: #505050;

body, .pure-g [class*="pure-u"] {
  font-family: Lato, 'Lato', sans-serif;
}

/*** Generic styles ***/

h1, h1 .pure-g [class*="pure-u"] {
  //font-weight: 300;

  a {
    display: block;
    //text-decoration: none;
  }
}

a {
  color: $accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


/*** Header ***/
header {
  background: lighten($theme, 10%);
  //border-bottom: 1px solid $theme;
  box-shadow: 0 2px 2px -1px $theme;
  font-size: 0.9em;

  .pure-menu-link {
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    color: $foreground;

    &.social-link {
      color: lighten($theme, 30%);
    }
  }

  .site-title.pure-menu-heading {
    text-transform: none;
    padding-left: 2.4em;
    background-image: url("{{ site.baseurl }}/images/logo.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin: 0.6em 0;
    text-decoration: none;
  }
  .sites {
    text-align: right;
    //font-size: 0.9em;
    //font-weight: 600;
    text-transform: uppercase;

    a, a:hover {
      padding-top: 1.1em / 0.9;
      padding-bottom: 1.1em / 0.9;
      background: transparent;
      text-decoration: none;
    }
    a:hover {
      color: $accent;
      background: $theme;
    }
  }
}

/*** Posts ***/
article {
  h1 {
    //background: lighten($theme, 10%);
    margin: 0;
    font-size: 250%;
    font-weight: 600;

    a {
      padding-top: 2rem;
      color: $foreground;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .post-data {
    background: lighten($theme, 30%);
    padding: 0.6rem 0;
    font-size: 0.94em;
    color: darken($theme, 40%);

    a {
      color: darken($theme, 40%);
      background: lighten($accent, 50%);
      padding: 0 .4em;

      &.selected {
        color: #000;
        cursor: default;
        text-decoration: none;
      }
    }

    .date, .comments {
      display: inline-block;
      margin-left: 0.6rem;
      background: lighten($theme, 10%);
      padding: 0 .4em;
    }
    .edit-button {
      text-align: right;
      display: none;
    }
  }

  .post-content {
    margin-bottom: 1.8rem;
    line-height: 1.35em;

    img {
      max-width: 100%;
    }

    .fig {
      text-align: center;
      border: 1px solid #d0d0d0;
      overflow-x: auto;
      margin-top: 0;
      margin-bottom: 1rem;
      padding: 0.6rem 0.6rem 0.8rem;
      display: block;

      img {
        margin-bottom: 0.2rem;
      }
    }

    .med img {
      max-width: 30rem;
    }

    .small img {
      max-width: 18rem;
    }

    .share {
      //filter: gray;
      //filter: grayscale(1);
      //-webkit-filter: grayscale(1);
      opacity: 0.5;

      img {
        width: 1.6rem;
      }
      .dsq-comment-count {
        background: url('{{ site.baseurl }}/images/sq_comment.png') no-repeat scroll 0% 0% / auto 100% #303030;
        color: #fff;
        display: inline-block;
        height: 1.5rem;
        padding: 0.1rem 0.35rem 0 1.9rem;
        text-decoration: none;
        vertical-align: top;
      }

      &:hover {
        //filter: none;
        //-webkit-filter: grayscale(0);
        opacity: 1;
      }
    }

    abbr {
      text-decoration: none;
    }

    .post-editors {
      font-style: italic;
      text-align: right;
    }
  }
}

dl {
  margin-bottom: 1rem;

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0.4em 0;
  }
}

dl, code.hljs {
  background: #f6f6f6;
  border: 1px solid #d0d0d0;
  overflow-x: auto;
  margin-top: 0;
  padding: 0.6rem;
  display: block;
}

dl code.hljs, dl dl {
  border-width: 1px 0;
}

code.hljs, code {
  font-family: "Source Code Pro", monospace;
  font-size: 0.8rem;
}

code.has-jax {
  font: inherit;
  font-size: 85%;
  background: inherit;
  border: inherit;
}
div.MathJax_Display {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

blockquote {
  margin-left: 1.6rem;
  padding-left: .8rem;
  border-left: .4rem solid $foreground;
}

/*** Pagination ***/
nav.pagination {
  margin: 1.2rem 0;

  .paginator {
    color: #888;
    text-align: center;
    vertical-align: middle;

    a {
      display: block;
    }
  }

  &:first-child > *, &:last-child > * {
    padding: 0.6rem 0;
  }
  &:first-child a:hover, &:last-child a:hover {
    background: lighten($theme, 40%);
  }
}

nav.side {
  margin-left: 1.2rem;
  padding-left: 1.2rem;
  border-left: 1px solid lighten($theme, 50%);

  p {
    margin: .6rem 0;
  }

  h3 {
    margin-bottom: 1rem;
  }
}

.home-site {
  background: lighten($theme, 35%);

  .splash {
    padding: 2rem 3rem;

    p {
      text-align: center;
      font-size: 1.25rem;
    }
    .big-text {
      font-size: 2.5rem;
      font-weight: 200;
    }
  }

  .introduction {
    color: white;
    padding: 3rem 0 5rem;
    text-shadow: 0 2px rgba(0,0,0,0.4);

    &.left {
      h1, p {
        text-align: right;
        padding-right: 1rem;
      }
    }

    &.right {
      h1, p {
        padding-left: 1rem;
      }
    }

    background: no-repeat center center darken($theme, 30%);
    background-size: cover;

    &.blackboard {
      background-image: url({{ site.assets_path }}/images/home/blackboard.jpg);
      background-position: 0 30%;
    }
    &.software {
      background-image: url({{ site.assets_path }}/images/home/software.jpg);
      background-position: 20% 30%;
    }
    &.knowledge {
      background-image: url({{ site.assets_path }}/images/home/knowledge.png);
      background-position: 20% center;
    }
    &.community {
      background-image: url({{ site.assets_path }}/images/home/community.jpg);
      background-position: 20% center;
    }
  }

  .projects {
    padding: 0 0 3rem;

    .projects-inner {
      text-align: center;

      .card {
        display: inline-block;
        background: $theme;
        padding: 0.5rem 1.5rem;
        width: 9rem;
        height: 12rem;
        margin: 0 1rem 1rem 0;
        vertical-align: top;
        color: inherit;;
        text-decoration: none;
        //border: 1px solid darken($theme, 25%);
        box-shadow: 0 2px 2px rgba(0,0,0,0.1);
        transition: box-shadow .2s ease-in-out;

        .name {
          transition: color .2s ease-in-out;
          font-size: 2rem;
          margin: 1rem 0;
          color: $foreground;
        }

        .description {
          font-size: 0.9rem;
        }

        &.more {
          background: lighten($theme, 8%);
        }

        &:hover {
          .name {
            color: $accent;
          }
          box-shadow: 0 2px 2px rgba(0,0,0,0.3);
        }
      }
    }
  }
}


/*** Footer ***/
footer {
  box-shadow: 0 -2px 2px -1px $theme;
  padding-bottom: 1.2rem;
  background-color: lighten($theme, 10%);

  a {
    color: darken($theme, 40%);
  }
}

/**********
 Tablet (and up) styles
**********/

@media (min-width: 48em) {
  .site-title.pure-menu-heading:before {
    content: "LibreIM";
    font-size: 1rem;
    padding-left: 0.4em;
    color: darken($foreground, 10%);
  }
  h1 {
    font-size: 300%;
  }
  .post-data .edit-button {
    display: inline-block;
  }
}

/*******
Button
*******/
.button {
    background-color: $accent; /* Blue */
    border: none;
    color: white;
    padding: 0.6em 1.2em;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-border-radius:9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
